@*****************************************************************
* This is test template for LayoutView
*****************************************************************@

@()(context: widgets.RenderingContext)

@import play.api.templates.HtmlFormat
@import widgets.TestView
@import widgets.SessionScope
@import widgets.template.Render


<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


    @Render(context, SessionScope("test1", TestView(views.html.test6("red"))))
    @Render(context, TestView(views.html.test7()))

    <!-- TODO: Think about inline rendering ( can use render companion object, implicit conext, ... ) Especialy for persistent views which is not scoped -->
    <!-- TODO: Implement view rendering Master-Slave strategy for perfomance improbements. Strategy can be passed to the view companion object -->
    <!-- TODO: Master view will manage slave view and send subsequent render requests to them. -->
    <!-- TODO: Master view will manage data updates and send notifications to the slave views -->
    <!-- TODO: Implement test case with the Cell, Cells, CellView, CellsView, CellsTotalView -->


</body>
</html>