@*****************************************************************
* This is test template for LayoutView
*****************************************************************@

@()(viewId:String, context: widgets.LayoutRenderingContext)


@import play.api.templates.HtmlFormat
@import widgets.TestView
@import widgets.RequestScope
@import widgets.SessionScope

@context.widgets(Map(
  "test1"->SessionScope(TestView(views.html.test6("red")))
  "test2"->RequestScope(TestView(views.html.test7()))
))



<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


    // TODO: Actual way for define place for child widget
    @context.widget("test1")

    // TODO: THIS IS OBSOLETE !!
    @ctx.widgets.test1(views.html.test6("red"))


    // TODO: ALL BELOW NEEDS TO BE REVIEWED !!


    // TODO: THUNK ABOUT CONSTRUCTION LIKE:
    // TODO: @ctx.widgets.test1(views.html.test6("red"))
    // TODO: THIS IS ONE OF THE VARIANTS. LLOK AT THE TOP FOR ANOTHR !!!
    // TODO: @ctx.widgets.layout1(views.html.testLayout(), new LayoutContext1(ctx, SessionScope(...)))

    <!-- Pass template which is have usage params - color -->
    @TestView.render("/testViews/test1", context, views.html.test6("red"))

    <!-- Pass template which is not have usage params -->
    @TestView.render("/testViews/test2", context, views.html.test7())

    <!-- Pass nested template -->
    @display(viewID:String, value:String) = {
        <div id='@viewId'>@value</div>
    }
    @TestView.render("/testViews/test3", context, display)

    <!-- Pass template defined in place -->
    @TestView.render("/testViews/test4", context, (viewID, value)=>{
        HtmlFormat.raw(s"<div id='$viewId'>$value</div>")
    })

    <!-- Render child layout view -->
    @LayoutView.render("/testViews/test4", context, (viewID, value)=>{
    HtmlFormat.raw(s"<div id='$viewId'>$value</div>")
    })


</body>
</html>